/*!
 * Gutenberg Editor Styles
 */

/** === Includes === */

@charset 'utf-8';
@import 'foundation';
@import 'settings';

@import "global/colors";
@import "global/gutenberg";
@import "components/accordion";
@import "components/tab";
@import "components/carousel";




@include foundation-typography;
@include foundation-button;
@include foundation-table;
.wp-core-ui, .wp-admin{
	ul{list-style: none;}
   }
.is-root-container {
	@include xy-grid-container;
  }

/** === Content Width === */



// .wp-block {
// 	width: calc(100vw - (2 * 10px));
// 	@each $breakpoint, $size in $grid-margin-gutters {

// 		@include breakpoint($breakpoint) {
// 			width: calc(100vw - ($size));
// 		}

// 	}
// }

/** === Base Typography === */
body {
	font-size: $global-font-size;
	font-family: $body-font-family;
	color: $body-font-color;
}

/** === Post Title === */
.editor-post-title__block .editor-post-title__input{
  @extend h1;
}

/** === Button === */
.wp-block-button {

	// add general foundation button styling to button in editor
	.wp-block-button__link {
		@extend .button;
	}

	// add special styling for squared buttons
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// add outline styles
	&.is-style-outline .wp-block-button__link{
		@extend .hollow;
	}

	// set transparent background to block for outline button
	&.is-style-outline,
	&.is-style-outline:hover,
	&.is-style-outline:focus,
	&.is-style-outline:active {
		background: transparent;
	}
}

/** === File === */
.wp-block-file__button{
	@include button();
}

/** === Pullquote === */
.wp-block-paragraph.has-background{
	padding: rem-calc(20px 30px);
}

/** === Table === */
.wp-block-table td{
	border: none;
}

/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid{
	list-style: none;
}


.wp-block-acf-carousel {
  .splide__list {
    display: flex;

    h1 {
      font-size: 1rem;
    }

    img {
      min-width: 6rem;
      max-width: 6rem;
    }
  }
}


.interface-interface-skeleton__secondary-sidebar,
.interface-interface-skeleton__sidebar {
  width: 30% !important;
}

.editor-sidebar {
  width: 100%;
}
  .edit-post-sidebar {
    width: 30% !important;
  }
ul.acf-swatch-list.acf-hl>li {
  margin-right: .1rem;

}

ul.acf-swatch-list label {
  font-size: 0;
}

ul.acf-swatch-list .swatch-toggle {
  border-radius: 50%;
  border: 1px solid #aaaaaa;
}



aside.block-editor-block-list__block img {width:9rem}

.block-carousel .block-carousel-content .swiper-slide img
{width:9rem}


.block-carousel .block-carousel-content .swiper-wrapper {display: flex;}
