.block-carousel {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  max-width: 100vw;
  padding-left: 0;
  padding-right: 0;
  padding-top:2rem;
  padding-bottom:4rem;

  &.alignfull {
    .block-carousel-grid {
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      max-width: 100vw;
    }
  }
   
  

  .block-carousel-container {
    @include xy-grid-container;
 .block-carousel-grid {
	@include xy-grid;
  .block-carousel-header{
    @include xy-cell(10);
    @include breakpoint(large){
     @include xy-cell(4);
    }
  }
    .block-carousel-content {
       @include xy-cell(12);
       @include breakpoint(large) {
      @include xy-cell(8);
       }


    }
}

  }

}

// 1️⃣ Carousel container color
@each $color,
$code in $foundation-palette {
  .block-carousel.#{$color} {
    background: $code;
    h1,h2,h3{
       color: color-pick-contrast($code,
         ($secondary-color, $theme-color-1),
         $tolerance: $global-color-pick-contrast-tolerance) !important;
    }
    .subheader{
       color: color-pick-contrast($code,
         ($primary-color, $theme-color-2),
         $tolerance: $global-color-pick-contrast-tolerance) !important;
    }

    // Optional: change nav colors
    .swiper-button-prev,
    .swiper-button-next {
      color: color-pick-contrast($code,
          ($primary-color, $theme-color-2),
          $tolerance: $global-color-pick-contrast-tolerance) !important;
    }
  }
}

// 2️⃣ Slide-specific background
@each $color,
$code in $foundation-palette {
  .swiper-slide.#{$color} {
    background: $code;
    .info{
       color: color-pick-contrast($code,
         ($white, $secondary-color, $theme-color-1),
         $tolerance: $global-color-pick-contrast-tolerance) !important;
    }
    .info h3 {
      color: color-pick-contrast($code,
          ($primary-color, $theme-color-2, $theme-color-1),
          $tolerance: $global-color-pick-contrast-tolerance) !important;
    }
  }
}

.gallery-carousel {
  .swiper-wrapper {
    margin-left: 0;

    .swiper-slide {
      padding-bottom: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}

.swiper.slide-carousel {
   mask-image: linear-gradient(to right,
     transparent 0%,
     black 3%,
     black 97%,
     transparent 100%);
   mask-repeat: no-repeat;
   mask-size: 100% 100%;
   padding: 1rem .7rem !important;
   @include breakpoint(large) {
  padding: 0 1.7rem !important;
   }
  .swiper-wrapper {
    margin-left: 0;
    box-sizing: border-box;
   
 

    .swiper-slide {
      box-sizing: border-box;
      margin-right: 16px;
       padding:1rem;
       margin:1rem 0 2rem 0;
       @include breakpoint(large) {
        padding:2rem;
        margin:3rem 0;

      }
      
      border-radius: $global-radius;
      box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
      0px 2px 2px rgba(3, 7, 18, 0.04),
      0px 4px 8px rgba(3, 7, 18, 0.06),
      0px 8px 10px rgba(3, 7, 18, 0.08),
      0px 12px 14px rgba(3, 7, 18, 0.10);
      max-height: 150px;
      height: unset !important;
      transform-origin: top;
       transform: scale(0.8);
      transition: transform 1s ease, max-height 1.5s ease, box-shadow 2s ease;
     
        .info{
          padding: 0 0 1rem 0;
        }
       .info p,
       .info .carousel-button {
         opacity: 0;
         transition: opacity 0.7s ease;
         transition-delay: 0s;
        
       }

      &.swiper-slide-active {
        box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 5px rgba(3, 7, 18, 0.04),
        0px 12px 12px rgba(3, 7, 18, 0.06),
        0px 20px 20px rgba(3, 7, 18, 0.08),
        0px 32px 32px rgba(3, 7, 18, 0.10);
        transform: scale(1);
        max-height: 420px;
        transition: transform 0.5s ease,
        max-height 1.5s ease,
        box-shadow 2s ease;
        
        .info p,
        .info .carousel-button {
          opacity: 1;
            transition: opacity 1s ease;
            transition-delay: 0.4s;
         
        }
      }
      

      .image {
        padding-bottom: 120%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include breakpoint(medium) {
          padding-bottom: 65%;
        }

        @include breakpoint(large) {
          padding-bottom: 70%;
        }

        @include breakpoint(xlarge) {
          padding-bottom: 60%;
        }
      }
    }
  }
 
.swiper-button-prev,
.swiper-button-next {
  top: unset;
  bottom: var(--swiper-navigation-top-offset, 0%);
}

    .swiper-button-prev {
      right: var(--swiper-navigation-sides-offset, 100px) !important;
      left: auto !important;
    
  }
}
.slide-carousel-container{
 
  width: 100%;
 
}
.left .slide-carousel {
  .swiper-wrapper {
    margin-left: 0;

    .swiper-slide {
      
      .image {
        padding-bottom: 120%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include breakpoint(medium) {
          padding-bottom: 80%;
        }

        @include breakpoint(large) {
          padding-bottom: 100%;
        }

        @include breakpoint(xlarge) {
          padding-bottom: 100%;
        }
      }
    }
  }
}

.people-carousel.alignfull {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  max-width: 100vw;
  padding: 0;
  overflow: hidden;

  .carousel-grid {
    margin-bottom: $global-margin;

    .carousel-header {
      @include xy-cell(12);
      margin-top: $global-margin * 2;
      font-weight: bold;
      text-align: center;
    }

    .swiper {
      @include xy-grid();
      @include flex-align($y: top, $x: center);
    }

    .swiper-wrapper {
      margin-left: 0;
      text-align: left;

      .swiper-slide {
        padding: 0;
        @include xy-grid();
        display: flex !important;
        @include flex-align($y: top, $x: center);
        margin-bottom: 3rem;
        text-align: left;

        .image {
          opacity: 0.3;
          transition: all 0.5s;
          width: 60%;
          padding-bottom: 40%;
          background-repeat: no-repeat;
          margin-bottom: $global-margin;
          background-size: cover;
          border-radius: $global-radius;
          background-position: center;
          transform: scale(0.8);
        }

        .info {
          margin-top: 1rem;
          opacity: 0;
          transition: opacity 0.5s;
        }

        &.swiper-slide-active {
          .image {
            opacity: 1;
            transform: scale(1);
            transition: all 0.5s;
          }

          .info {
            opacity: 1;
            transition: opacity 0.5s;
          }
        }
      }
    }


  }
}


.swiper-wrapper {
    width: auto;
    min-width: 0;
    /* Prevent overflow issues */
}
.swiper-slide{
  box-sizing: border-box;
  margin-right: 16px;
}
