
.block-tab{
	margin-left: calc( -50vw + 50% );
	margin-right: calc( -50vw  + 50%  );
	max-width: 100vw;
	padding-left: 0;
	padding-right: 0;
	&.alignfull{
		.block-tab-grid{
			margin-left: calc( -50vw + 50% );
	margin-right: calc( -50vw  + 50%  );
	max-width: 100vw;
		}
	}
	.block-tab-container {
		@include xy-grid-container;
			.block-tab-grid {
			  @include xy-grid;
		.block-tab-content{
			@include xy-cell(12);
		
	
		}
		}
	}

}
.tabs,
.tabs-content{
	display: flex;
	@each $color, $code in $foundation-palette {

		
	&.#{$color} {
		background:$code;
	}
	.#{$color} {
	  a {

	    color: color-pick-contrast($code, $colors: ($white, $black, $primary-color, $secondary-color), $tolerance: $global-color-pick-contrast-tolerance);
	    background: $code;

	    &:hover {
	      background: scale-color($code, $lightness: 20%);
	      color: color-pick-contrast($code, $colors: ($white, $black, $primary-color, $secondary-color), $tolerance: $global-color-pick-contrast-tolerance);
	    }

	    &:focus,
	    &[aria-selected='true'] {
	      background: scale-color($code, $lightness: 20%);
	      color: color-pick-contrast($code, $colors: ($white, $black, $primary-color, $secondary-color), $tolerance: $global-color-pick-contrast-tolerance);
	    }
	  }

	}
}
.tabs-title, .tabs-panel{
	flex:1;
}

}
