.main-container {
  @include xy-grid-container;
}

.main-grid {
  @include xy-grid();
  margin-top: 0;

  @include breakpoint(medium) {
    margin-top: 0;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
   
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }
    &.post{
       margin-top: 3rem;
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }
    .wp-block-latest-posts__list{
      margin-left: 0;
    }

  }
}
.grecaptcha-badge { 
  visibility: hidden;
}

.subheader{
  text-transform: uppercase;
}

.services{
  @include xy-grid();
 
  padding:$global-padding*3 0;
  position: relative;
&:nth-of-type(even) {
  background-color: $theme-color-1;
   &:before {
     background-color: inherit;
     content: "";
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     width: 100vw;
     height: 100%;
     z-index: -1;
   }
}

  header{
     @include xy-cell(12);
@include breakpoint(medium) {
    @include xy-cell(5);
}
     @include xy-grid();
     @include flex-align($x:left, $y:stretch);

    .post-thumbnail,
    .entry-title {
      width:100%;
    }

  }
  .entry-content{
     @include xy-cell(12);

     @include breakpoint(medium) {
     @include xy-cell(7);
     }
  }
}
.wp-block-post-template{
  margin-left:0;
}
aside.wp-block-query{
  li{
   
    display:flex;
    .wp-block-post-featured-image{
      margin-bottom:$global-margin;
    }
   
    .insight-image {
      flex: 1 30%;

      @include breakpoint(medium) {
        flex: 1 30%;
      }
    }
    .wp-block-post-title
   {
      flex:1 70%;
      @include breakpoint(medium){
      flex:1 70%;
      }
    }
    .wp-block-post-title{
       
      margin-left:$global-margin;
       
    }
   
  }
}

aside.sidebar{

   .wp-block-latest-posts__featured-image {
     margin-bottom: $global-margin;
   }

}

  .opening-times {
    list-style: none;
    margin-left:0;
  }